* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
}

/* header  */

.header-main-div {
    width: 100%;
    height: 6vh;
    background-color: #222;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 999;
}

.header-left-div {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: end; */
}

.header-left-div p {
    color: lightgray;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    padding: 6px 0;
}

.header-right-div-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 100%;
}


.header-right-div-box a {
    height: 100%;
    border-right: 1px solid lightgray;
    display: block;
    text-decoration: none;
    color: lightgray;
    font-family: 'Poppins', sans-serif;
    padding: 7px 22px;
    cursor: pointer;
    font-size: 1rem;
}

.header-right-link-last-child:last-child {
    border: none;
}

/* navbar  */

.navbar-main-div {
    width: 100%;
    height: 12vh;
    /* background-color: #3f67d6; */
    background: transparent;
    position: relative;
    z-index: 999;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-logo-div h1 {
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    font-weight: 600;
    cursor: pointer;
}

.nav-div-main {
    height: 45%;
}

.navs-tag-ol {
    list-style-type: none;
}

.navs-tag-ol li {
    display: inline-block;
    padding: 2px 8px;
}

.nav-linktag {
    text-decoration: none;
    color: black;
    padding: 5px;
    cursor: pointer;
    display: block;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: all 0.3s ease;
}

.nav-linktag:hover {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-linktag::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.nav-linktag:hover::after {
    transform: scale(1);
    transform-origin: left;
}



.nav-right-div-mian {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right-box-div {
    margin: 0 15px;
    cursor: pointer;
}

.nav-right-box-div i {
    font-size: 22px;
    color: lightgray;
    position: relative;
}

.nav-icon-cart {
    position: relative;
}

.nav-icon-cart::after {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    content: "2";
    font-size: 9px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon-heart {
    position: relative;
}

.nav-icon-heart::after {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    content: "0";
    font-size: 9px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-hide-res-div {
    display: none;
}


/* hide search  */

.hide-search-main-div {
    display: none;
}

.hide-search-div-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 94vh;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.search-input-hide {
    width: 50%;
    height: 65px;
    cursor: pointer;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: white;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input-hide input {
    width: 94%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 1.1rem;
    color: gray;
}

.search-input-hide i {
    color: gray;
    cursor: pointer;
    margin: 6px 8px;
}

.hide-search-icon-div {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 49%;
    height: 8vh;
}

.hide-search-icon-div i {
    color: lightgray;
    font-size: 40px;
    cursor: pointer;
}

/* hide cart  */

.hide-cart-div-main {
    width: 28%;
    height: 94vh;
    z-index: 999;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    /* display: none; */
}

.hide-cart-content-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 0 0;
}

.hide-cart-content-flex p {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Bree Serif', serif;
    color: gray;
}

.hide-cart-content-flex i {
    color: gray;
    font-size: 30px;
    cursor: pointer;
}

.nav-hide-cart-flex-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}


.nav-cart-hide-content-box-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}


.nav-cart-hide-content-box-div img {
    box-shadow: 0 0 5px 0 lightgray;
}

.nav-cart-hide-content-box-div p {
    color: gray;
}

.hide-cart-content-total-price {
    width: 65%;
    display: flex;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: left;
}

.hide-cart-content-total-price h1 {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 5px;
}

.hide-cart-content-total-price span {
    padding: 5px 2px;
    font-size: 1.3rem;
}

.btn-cart-hide-nav-div {
    width: 95%;
    display: flex;
    justify-content: center;
}

.btn-cart-hide-nav-div button {
    width: 36%;
    height: 45px;
    cursor: pointer;
    border: 1px solid #222;
    background-color: #222;
    color: white;
    border-radius: 25px;
    font-size: 1.1rem;
    padding: 1px;
    margin: 0 5px;
}


/* bg image for home  */

#bgimage {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url(images/bg\ image\ home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    top: -79px;
}

.home-content-main-div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content-div p {
    padding: 0 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #222;
}

.home-content-div h1 {
    font-size: 4.5rem;
    font-family: 'Bree Serif', serif;
}

.home-content-div button {
    width: 32%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid darkgray;
    outline: none;
    padding: 7px;
    margin: 15px 0;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    border-radius: 25px;
    color: black;
    transition: all 0.3s ease;
}

.home-content-div button:hover {
    background-color: black;
    color: lightgray;
    letter-spacing: 1px;
}


/* cards shop  */

.box-card-shop {
    height: 250px;
    border: 2px solid lightgray;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 30px 0;
}

.box-shop-card-img-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.box-shop-card-img-div img {
    width: 100%;
    height: 100%;
}

.box-shop-content-div {
    position: absolute;
    top: 15px;
    left: 15px;
}

.box-shop-content-div h2 {
    font-weight: 600;
    font-family: 'Bree Serif', serif;
    color: #222;
    font-size: 1.5rem;
    padding: 0;
}

.box-shop-content-div p {
    color: #222;
    padding: 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.hide-box-div-content {
    position: relative;
    bottom: 45px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.box-card-shop:hover .hide-box-div-content {
    opacity: 1;
    visibility: visible;
}

.hide-box-div-content a {
    position: relative;
    padding: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: block;
    transform: translateY(15px);
    transition: all 0.3s ease-in-out;
}

.box-card-shop:hover .hide-box-div-content a {
    transform: translateY(0);
}

.hide-box-div-content a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: white;
    transform: scale(0);
    transform-origin: center;
    width: 82px;
    height: 2px;
    transition: all 0.5s ease-in-out;
}

.box-card-shop:hover .hide-box-div-content a::after {
    transform: scale(1);
    transform-origin: center;
}

.hide-box-div-content-heading {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}

.box-card-shop:hover .hide-box-div-content-heading {
    display: block;
}

.box-card-shop:hover .box-shop-content-div {
    display: none;
}

.hide-box-div-content-heading h2 {
    font-weight: 600;
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 1.5rem;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

.hide-box-div-content-heading p {
    color: white;
    padding: 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50px;
    left: 14px;
}

/* products overview  */

.products-overview-top-heading {
    padding: 80px 0 10px 0;
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
}

.product-overview-nav-ol-tag {
    text-decoration: none;
}

.product-overview-nav-ol-tag li {
    display: inline-block;
    padding: 4px 20px 4px 0;
}

.product-link {
    position: relative;
    text-decoration: none;
    padding: 6px 1px 1px 0;
    cursor: pointer;
    color: #222;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.product-link:hover {
    color: black;
    text-decoration: none;
}

.product-link-active {
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.product-link-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(1);
    transform-origin: center;
    background: #000;
}

.product-link-active-hover {
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.product-link-active-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: center;
    background: #000;
}

.product-link-active-hover:hover::after {
    transform: scale(1);
    transform-origin: center;
    transition: all 0.1s ease-in-out;
}

/* product card  */

.box-product-card-div-main {
    position: relative;
    border: 1px solid whitesmoke;
    cursor: pointer;
    overflow: hidden;
    margin: 25px 0;
}

.box-product-card-img-div {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.box-product-card-img-div img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.box-product-card-div-main:hover .box-product-card-img-div img {
    transform: scale(1.1);
}

.box-product-card-content-div p {
    font-size: 1rem;
    padding: 5px 0 0 0;
    font-family: 'Poppins', sans-serif;
}

.box-product-card-content-div h6 {
    font-size: 1.2rem;
    font-weight: 500;
}

.hide-box-product-card-content-div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    z-index: 999;
    transition: all 0.4s ease-in-out;
}

.hide-box-product-card-content-div button {
    width: 115px;
    height: 45px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
    background: white;
    color: black;
    font-weight: 500;
    font-family: 'Bree Serif', serif;
    transform: translateY(150px);
    transition: all 0.3s ease-in-out;
}

.hide-box-product-card-content-div button:hover {
    background-color: #222;
    color: white;
    border: 1px solid #222;
}

.box-product-card-div-main:hover .hide-box-product-card-content-div button {
    transform: translateY(-10px);
}

.box-product-card-img-hide-div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.box-product-card-img-hide-div img {
    opacity: 0;
    visibility: hidden;
}


.box-product-card-div-main:hover .box-product-card-img-hide-div img {
    opacity: 1;
    visibility: visible;
}

/* footer  */

.footer-div-main {
    width: 100%;
    min-height: 250px;
    margin: 30px 0 0 0;
    background-color: #111;
    position: relative;
    color: white;
}

.footer-div-main h2 {
    color: white;
    font-size: 2.2rem;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    padding: 50px 0 5px 0;
    letter-spacing: 1px;
}

.footer-div-main p {
    padding: 20px 0 5px 0;
    font-size: 0.8rem;
    line-height: 25px;
    text-align: justify;
    font-family: 'Poppins', 'sans-serif';
}

.footer-ol-tag {
    list-style-type: none;
    line-height: 30px;
    padding: 20px 0;
}

.footer-ol-tag li {
    padding: 2px 0;
}

.footer-ol-tag a {
    cursor: pointer;
    display: block;
    color: lightgray;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-icon-3-box {
    display: flex;
    align-items: baseline;
}

.icons-footer-div {
    margin: 0 20px 0 0;
}

.icons-footer-div i {
    font-size: 25px;
    cursor: pointer;
}

.email-footer-box {
    margin: 35px 0 5px 0;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    background: transparent;
    color: white;
}

.email-footer-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

.email-footer-btn button {
    margin: 15px 0;
    cursor: pointer;
    border: 1px solid #222;
    background-color: #333;
    color: white;
    border-radius: 25px;
    width: 125px;
    height: 52px;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* *********** login page css part start here **********  */

.login-main-bg-clr-div {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-div-content-main-div {
    width: 60%;
    height: 92vh;
    background-color: #555;
    box-shadow: 0 0 14px 0 #111;
}

.h2-top-login-heading-div {
    text-align: center;
}

.h2-top-login-heading-div h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.h2-top-login-heading-div p {
    text-align: center;
    font-family: 'lato', 'sans-serif';
    font-size: 1rem;
    padding: 5px;
    font-weight: 500;
    color: lightgray;
}

.login-form-div-main {
    width: 100%;
    min-height: 25%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.login-div-content-main-div label {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding: 10px 0 0 0;
    color: #999;
}

.user-login-div {
    position: relative;
    width: 650px;
    height: 50px;
    border: 1px solid #222;
    cursor: pointer;
    background-color: #444;
    color: lightgray;
    border-radius: 3px;
    margin: 0 0 20px 0;
}

.user-login-div input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    padding: 0 8px;
    font-size: 1rem;
}

.check-eye-pass-icon-div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;

    display: flex;
    align-items: center;
    margin: 0 6px;
}

.check-eye-pass-icon-div .open-eye {
    display: none;
    color: red;
    font-size: 1.2rem;
}

.check-eye-pass-icon-div .close-eye {
    color: #777;
    font-size: 1.2rem;
}

.forget-pass-div {
    width: 100%;
    text-align: right;
    margin: 30px 0 30px 0;
}

.forget-pass-div a {
    display: block;
    color: lightgray;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', 'sans-serif';
}

.button-and-signup-link-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 40px 0 0 0;
}

.button-and-signup-link-div p {
    color: gray;
    font-size: 1rem;
    font-family: 'lato', 'sans-serif';
}

.button-and-signup-link-div a {
    text-decoration: none;
    color: lightgray;
    cursor: pointer;
    font-family: 'Poppins' 'sans-serif';
    padding: 0 4px;
}

.button-and-signup-link-div button {
    padding: 6px 20px;
    cursor: pointer;
    background-color: #444;
    border: 1px solid #333;
    color: lightgray;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
}

.error-login-form {
    margin: 0;
    padding: 0;
}

.error-login-form p {
    margin: 0;
    padding: 0;
    color: red;
    display: none;

    outline: 0;
    border-color: red;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}


@keyframes bounce {
    0% {
        transform: translateX(0px);
        /* timing-function: ease-in; */
    }

    37% {
        transform: translateX(5px);
        /* timing-function: ease-out; */
    }

    55% {
        transform: translateX(-5px);
        /* timing-function: ease-in; */
    }

    73% {
        transform: translateX(4px);
        /* timing-function: ease-out; */
    }

    82% {
        transform: translateX(-4px);
        /* timing-function: ease-in; */
    }

    91% {
        transform: translateX(2px);
        /* timing-function: ease-out; */
    }

    96% {
        transform: translateX(-2px);
        /* timing-function: ease-in; */
    }

    100% {
        transform: translateX(0px);
        /* timing-function: ease-in; */
    }
}


/* **************** sign up work css *************  */

.sign-up-main-div-bg-clr {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #555;

    display: flex;
    justify-content: center;
}

.sign-up-content-div {
    width: 55%;
    min-height: 100%;
    background-color: #666;
    box-shadow: 0 0 14px 0 #444;
}

.sign-up-content-div h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.sign-up-content-div-p {
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-size: 0.9rem;
    padding: 0;
    font-weight: 500;
}

.form-sign-up-main-div {
    width: 100%;

    display: flex;
    justify-content: center;
}

.form-sign-up-main-div label {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 5px 0 0 0;
    color: #333;

}

.user-name-sign-up-div {
    position: relative;
    width: 650px;
    height: 50px;
    border: 1px solid #222;
    cursor: pointer;
    background-color: #444;
    color: lightgray;
    border-radius: 3px;
    margin: 0 0 10px 0;
}

.user-name-sign-up-div input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    padding: 0 15px;
    font-size: 1rem;
}

.password-str-div-sign-up {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin: 30px 0 10px 0;
    background-color: #666;
}

.password-str-div-sign-up p {
    font-weight: 600;
    font-size: 1.1rem;
}

.password-str-div-sign-up span {
    color: whitesmoke;
    padding: 0 10px;
}


.button-and-signin-link-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 35px 0 10px 0;
}

.button-and-signin-link-div p {
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'lato', 'sans-serif';
}

.button-and-signin-link-div a {
    text-decoration: none;
    color: lightgray;
    cursor: pointer;
    font-family: 'Poppins' 'sans-serif';
    padding: 0 6px;
    font-size: 1.1rem;
}

.button-and-signin-link-div button {
    padding: 6px 20px;
    cursor: pointer;
    background-color: #444;
    border: 1px solid #333;
    color: lightgray;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
}